/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

body, h1, h2, h3 {
  margin: 0;
}

.fa-solid {
  color: var(--main-color);
}

.main-container {
  /* max-width: 1440px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 1440px;
  /* padding: 0 50px; */
  width: 100%;
}

.header {
  display: flex;
  height: 79px;
  justify-content: space-between;
  width: 100%;
  /* gap: 934.91px; */
  /* gap: 468.601px; */
}

.logo-img {
  height: 19px;
  padding: 30px 50px 30px 50px;
  width: 61px;
}

.nav {
  height: 35px;
  /* width: 328.601px; */
}

.nav-list {
  display: flex;
  gap: 68px;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 25px;
}

.nav-list-element {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav-list-element:hover {
  border-top: 2px solid var(--blue, #0065FC);
  box-sizing: border-box;
  color: var(--blue, #0065FC);
}

.nav-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
}

.nav-link:hover {
  color: var(--blue, #0065FC);
}

.nav-list-element:first-child {
  width: 113px;
}

.nav-list-element:nth-child(2) {
  width: 63px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.info-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 53px;
  justify-content: space-between;
}

.info-title-headline {
  font-size: 22px;
  margin: 0;
}

.info-title-text {
  font-size: 16px;
  margin: 0;
}

/* **************************************************** */
.search-bar {
  height: 49px;
  width: 377px;
}

.search-bar-form {
  border-radius: 15px;
  border: 1px solid var(--grey, #f2f2f2);
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  height: 49px;
  justify-content: space-between;
  width: 100%;
}

.location-icon-div {
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  min-width: 50px;
  height: 100%;
}

.fa-location-dot {
  color: black;
}

.search-bar-form-input {
  border: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-bar-form-btn {
  background-color: var(--main-color);
  border-radius: 0 15px 15px 0;
  border: 0;
  color: white;
  height: 100%;
  padding: 15px 16px;
  font-weight: 700;
}

/* #screen-small {
  display: none;
} */

.screen-small {
  display: none;
}

/* **************************************************** */

.filter-bar {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 50px;
  width: fit-content;
}

.filter-bar-text, .filter-bar-btn, .more-heading {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.filter-bar-btn {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  display: flex;
  gap: 10px;
  height: 50px;
  padding: 4px 19px;
  font-size: 17px;
}

.filter-bar-btn:hover {
  background: var(--blue-light, #deebff);
}

.filter-bar-btn span {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  height: 22px;
  width: 22px;
}

/* **************************************************** */
.info-bar {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 24px;
}

.info-bar-icon {
  /* align-items: center; */
  display: flex;
  /* height: 24px; */
  /* width: 24px; */
  color: var(--main-color);
  border-radius: 50%;
  /* background-color: #d9d9d9; */
  justify-content: center;
  /* box-sizing: border-box; */
  /* border: 2px solid #D9D9D9; */
}

.fa-border {
  --fa-border-color: #D9D9D9;
  --fa-border-radius: 50%;
  --fa-border-style: solid;
  --fa-border-width: 1px;
  padding: 0px;
  display: flex;
  /* align-items: center; */
  margin: 0px;
  justify-content: center;
}

/* **************************************************** */


.fa-circle-info:before, .fa-info-circle:before {
  /* content: "\f05a"; */
  background-color: var(--main-color);
  border-radius: 50%;
  color: white;
  /* box-sizing: border-box; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 0; */
  /* margin: 0; */
  /* border: 1px solid black; */
  /* width: 24px; */
  /* height: 24px; */
}

.hebergements-et-populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}


.hebergements {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  /* width: 65%; */
}

.hebergements-heading {
  font-size: 22px;
  font-weight: 700;
}

.hotels {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.hotel-link {
  width: calc(calc(100% - 30px - calc(6 * 5px)) / 3);
}

.hotel-card {
  background-color: white;
  border-radius: 20px;
  border: 5px solid white;
  border-bottom: 0;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  padding-bottom: 15px;
}

.hotel-img {
  border-radius: 20px 20px 0px 0px;
  height: 124px;
  object-fit: cover;
  width: 100%;
  /* border: 5px solid var(--white, #fff); */
  box-sizing: border-box;
}

.hotel-details {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  /* padding: 0px 7px; */
  padding: 0px 15px;
  flex-direction: column;
  gap: 8px;
}

.hotel-details>* {
  margin: 0;
}

.hotel-name {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  /* justify-content: center; */
}

.hotel-price {
  font-size: 14px;
  font-weight: 400;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 81px;
  height: 13.25px;
}

.rating .fa-star {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 14.29px;
  height: 13.25px;
}

.more-heading {
  margin: 0;
}

/* **************************************************** */

.populaires {
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 429px;
}

.populaires-title {
  display: flex;
  align-items: center;
  gap: 50.825px;
  width: 100%;
  justify-content: space-between;
  height: 26px;
}

.section-title {
  font-size: 22px;
  margin: 0;
  width: 300.308px;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.card-link {
  height: 144px;
}

.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  /* height: 100%; */
  /* padding: 5px; */
  /* margin-top: 33px; */
}

.card-content {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* height: 134px; */
  justify-content: space-between;
  padding: 10px 5px 5px 15px;
  width: 246px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-radius: 20px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  flex: 1 0 0;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.card-subtitle {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.card-img {
  width: 123px;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
  border-top: 5px solid var(--white, #fff);
  border-bottom: 5px solid var(--white, #fff);
  border-left: 5px solid var(--white, #fff);
  object-fit: cover;
  box-sizing: border-box;
}

.card-rating {
  display: flex;
  gap: 2px;
  width: 68px;
  height: 12px;
}

.fa-star {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* **************************************************** */

.activites-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.activites-heading {
  height: 30.02px;
  font-size: 22px;
}

.activites {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.activite-link {
  width: calc(calc(100% - 3 * 30px) / 4);
}

.activite {
  height: 439px;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.activite-img {
  border-radius: 20px 20px 0 0;
  flex-shrink: 0;
  height: 380px;
  object-fit: cover;
  width: 100%;
}

/* .activite-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
} */

.activite-name {
  display: flex;
  padding: 10px 19px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  height: 59px;
  width: 100%;
  box-sizing: border-box;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* **************************************************** */

.footer-container {
  /* background: var(--grey, #f2f2f2); */
  display: flex;
  /* width: 100%; */
  /* padding: 0 50px; */
}

.footer-column {
  background: var(--grey, #f2f2f2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  padding: 20px;
  width: calc(100% / 3);
}

.footer-heading {
  font-size: 18px;
  font-weight: 700;
}

.footer-link {
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.hebergements {
  /* width: 100%; */
}

.populaires {
  /* margin-top: 50px; */
  /* width: 100%; */
  gap: 20px;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

/* .card-link {
  height: 146px;
  width: calc(calc(100% - calc(2 * 20px)) / 3);
} */

/* .card-img {
  height: 146px;
  object-fit: cover;
  width: 92px;
} */

/* .card-title {
    font-size: 14px;
  } */

/* .card-content {
  width: 183.333px;
  padding: 10px 5px 5px 15px;
  height: 136px;
} */

.card-subtitle {
  font-size: 13px;
}

/* .card-rating {
  align-items: baseline;
  display: flex;
  margin-bottom: 5px;
} */

.card-rating .fa-star {
  height: 12px;
  width: 12px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .header {
    height: 79px;
  }

  .search-bar {
    width: fit-content;
  }

  .search-bar-form {
    justify-content: start;
  }

  .search-bar-form-input, .search-bar-form-btn {
    font-size: 18px;
  }

  .search-bar-form-btn {
    display: flex;
    align-items: center;
  }

  .screen-small {
    display: none;
  }

  .info-title {
    height: auto;
  }

  .info-title-text {
    font-size: 16px;
  }

  .filter-bar {
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
  }

  .filter-bar-text {
    flex: 1 0 100%;
    margin: 0;
  }

  .filter-bar-btn {
    font-size: 16px;
    padding: 4px 13px;
  }

  .hebergements-et-populaires {
    flex-direction: column;
    gap: 50px;
  }

  .activite {
    height: auto;
  }

  .activite-img {
    height: 200px;
  }

  .activite-name {
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 20px 19px;
  }
}

/* ---------------------------------------------------------- */




/* ----------------------------------------------------- */

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
    width: 100%;
  }

  .main {
    padding: 0;
  }

  .main-container {
    padding: 0;
  }

  header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    padding: 0;
    gap: 0;
  }

  div.logo img {
    padding: 30px;
  }

  .nav {
    width: 100%;

  }

  nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .nav-list .nav-list-element {
    /* width: 187.5px; */
    width: calc(100% / 2);
    border-top: 0;
    border-bottom: 2px solid var(--main-bg-color, #f2f2f2);
    color: black;
    box-sizing: border-box;
    padding-bottom: 15px;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .info-container {
    padding: 0 20px;
  }

  .main {
    /* align-items: center; */
  }

  .filter-bar {
    width: 100%;
    justify-content: space-between;
  }

  .filter-bar-btn {
    width: calc(calc(100% - 10px*2) / 2);
    font-size: 14px;
  }

  .info-bar {
    height: auto;
  }

  .search-bar {
    width: 100%;
  }

  .search-bar-form {
    gap: 0;
  }

  .location-icon-div {
    min-width: 50px;
  }

  .search-bar-form-input {
    width: 100%;
    font-size: 18px;
  }

  .screen-big {
    display: none;
  }

  .screen-small {
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 49px;
  }

  .fa-magnifying-glass {
    color: white;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hebergements-et-populaires {
    gap: 15px;
  }

  .hebergements {
    order: 2;
    padding: 20px;
    gap: 15px;
    background: #fff;
  }

  .populaires {
    padding: 30px 20px;
    gap: 15px;
    border-radius: 0;
  }

  .populaires-cards {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
  }

  .card-link {
    width: 100%;
  }

  .card-content {
    display: flex;
    width: 223.333px;
    padding: 10px 5px 5px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .card-img {
    width: 111.6666px;
  }

  .card-title {
    font-size: 16px;
    font-weight: 700;
  }

  .hotels {
    flex-direction: column;
    gap: 15px;
  }

  .hotel-link {
    width: 100%;
  }

  .hotel-link:nth-child(3), .hotel-link:nth-child(4), .hotel-link:nth-child(6) {
    order: 1;
  }

  .hotel-link:nth-child(2) {
    order: 2;
  }

  .hotel-details {
    padding: 0 15px;
  }

  .activites {
    flex-direction: column;
  }

  .activite-link {
    width: 100%;
  }

  .activite-img {
    height: 141px;
  }

  .activite-name {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-container {
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    background-color: var(--main-bg-color);
  }

  .footer-column {
    width: 100%;
    padding: 0;
  }

  .nav-list-element:hover {
    border-top: 0;
    border-bottom: 2px solid var(--blue, #0065FC);
    color: var(--blue, #0065FC);
    box-sizing: border-box;
    padding-bottom: 15px;
  }

  .nav-link:hover {
    color: var(--blue, #0065FC);
  }

  .footer-container {
    width: auto;
  }

  .footer-link {
    max-width: 263px;
  }
}