/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.88rem;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/* ---------------------------------------------------------------------- */
img {
  width: 60px;
  height: 60px;
}

header {
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

main {
  height: 1451px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

main div.info {
  height: 281px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  justify-content: space-between;
  align-self: stretch;
  border-radius: 10px;
  border-top: 0;
  border-right: 3.13px;
  border-bottom: 2.19px;
  border-left: 3.13px;
}

.info-headline {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 3.3125rem;
  gap: 0.5rem;
}

.search-bar {
  height: 49px;
}

.info-bar {
  height: 24px;
}

.form-bar {
  display: flex;
  width: 377px;
  height: 49px;
  border-radius: 15px;
}

h1 {
  font-size: 22px;
  margin: 0;
}

.info-headline p {
  font-size: 13px;
  margin: 0;
}

.form-bar .location-icon {
  background-color: var(--main-bg-color);
  width: 50px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
}

.form-bar button {
  width: 132px;
  height: 49px;
  border-radius: 0 15px 15px 0;
  border: 0;
  background-color: var(--main-color);
  color: white;
}

.location-icon span {
  color: black;
}

input {
  width: 200px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  padding: 1.5rem;
  border: 0.5px solid rgb(211, 211, 211);
  border-right: 0;
  border-left: 0;
}

.filter-bar {
  width: fit-content;
  height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
}

.filter-bar p {
  font-weight: 700;
}

.filter-bar button span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-bar button {
  display: flex;
  padding: 4px, 19px, 4px, 19px;
  align-items: center;
  gap: 0.625rem;
  justify-content: space-between;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background-color: white;
}

input,
button {
  font-weight: 700;
}

/* ----------------------------------------------- Hébergements */

.hebergements {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.hotels {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.hotel {
  background-color: white;
  border: 5px solid white;
  width: calc(calc(100% - calc(1.875rem * 3)) / 3);
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  justify-content: space-between;
  align-items: flex-start;
}

.hotel .hotel-image {
  width: 100%;
  height: 7.75rem;
  border-radius: 1.25rem 1.25rem 0 0;
}

.hotel .hotel-details {
  width: 100%;
  padding: 0 0.94rem 0 0.94rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
