/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

body {
  margin: 0;
}

.fa-solid {
  color: var(--main-color);
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  padding: 0rem 3rem;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 2.1875rem;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: none;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  /* gap: 20px; */
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.88rem;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

/* .populaires-cards .card-rating {
  margin-bottom: 5px;
} */
/* ---------------------------------------------------------------------- */

header {
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

div.logo img {
  width: 3.81813rem;
  height: 1.1875rem;
  padding: 1.875rem 3.125rem 1.875rem 0;
}

nav {
  width: 20.53756rem;
  height: 2.1875rem;
}

nav ul {
  height: 100%;
  padding: 0rem 1.5625rem;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
}

ul li {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

nav ul li:first-child {
  width: 7.0625rem;
}

nav ul li:nth-child(2) {
  width: 3.9375rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}

main div.info {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}

.info-headline {
  height: 3.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

h1 {
  font-size: 1.375rem;
  margin: 0;
}

.info-headline p {
  font-size: 13px;
  margin: 0;
}

.search-bar {
  width: 23.5625rem;
  height: 3.0625rem;
}

.form-bar {
  height: 3.0625rem;
  border-radius: 15px;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  border: 1px solid var(--grey, #f2f2f2);
}

.form-bar .location-icon {
  width: 3.125rem;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
}

.form-bar button {
  height: 100%;
  padding: 0.9375rem 1rem;
  border-radius: 0 15px 15px 0;
  border: 0;
  background-color: var(--main-color);
  color: white;
}

.location-icon span {
  color: black;
}

input {
  border: 0;
  text-align: center;
}

.filter-bar {
  width: fit-content;
  height: 3.125rem;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.filter-bar p {
  font-weight: 700;
}

.filter-bar button {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  height: 3.125rem;
  padding: 0.25rem 1.1875rem;
  align-items: center;
  gap: 0.625rem;
}

.filter-bar button span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
button {
  font-weight: 700;
}

.info-bar {
  display: flex;
  height: 1.5rem;
  align-items: center;
  gap: 0.625rem;
}

.info-bar i {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

/* ----------------------------------------------- Hébergements */

.hebergements {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.hotels {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.hotels a {
  width: calc(calc(100% - 1.875rem - calc(6 * 5px)) / 3);
}

.hotel {
  background-color: white;
  border: 5px solid white;
  border-radius: 1.25rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
}

.hotel .hotel-image {
  width: 100%;
  height: 7.75rem;
  border-radius: 1.25rem 1.25rem 0 0;
}

.hotel .hotel-details {
  width: 100%;
  padding: 0.9375rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  box-sizing: border-box;
}

.hotel-details > * {
  margin: 0;
}

.hotel-details h3 {
  font-size: 1rem;
  font-weight: 700;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-details p {
  font-size: 0.875rem;
  font-weight: 400;
  min-height: 40px;
}

.more h3 {
  margin: 0;
}

/* ---------------------- Activités */

.activites-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.88rem;
  box-sizing: border-box;
  gap: 1.88rem;
}

.activites-container h2 {
  height: 30.02px;
}

.activites {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.88rem;
}
.activites a {
  width: calc(calc(100% - 3 * 1.88rem) / 4);
}

.activite {
  height: 439px;
  border-radius: 1.25rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.activite img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
  flex-shrink: 0;
  object-fit: none;
}

.activite-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

.activite h5 {
  padding: 1.25rem;
  font-weight: 700;
  display: flex;
  margin: 0;
}

.notes {
  width: 5.0625rem;
  height: 0.82813rem;
  display: flex;
  gap: 0.15rem;
}

.notes span {
  width: 0.89338rem;
  height: 0.82813rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  width: 100%;
  background: var(--grey, #f2f2f2);
}

.footer-column {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
  gap: 15px;
}

.footer-column h5 {
  font-weight: 700;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filter-bar {
    height: auto;
    flex-wrap: wrap;
  }

  .filter-bar p {
    flex: 1 0 100%;
    margin: 0;
  }

  .activite {
    height: auto;
  }

  .activite img {
    height: 200px;
  }

  .activite h5 {
    padding: 5px 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }

  .hebergements-and-populaires section {
    gap: 20px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .populaires-cards a {
    height: 146px;
    width: calc(calc(100% - calc(2 * 20px)) / 3);
  }

  .populaires-cards .card {
    margin-top: 0;
    box-sizing: border-box;
  }

  a .card {
    width: 100%;
  }

  .card img {
    height: 146px;
    width: 92px;
    object-fit: cover;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .card-rating {
    display: flex;
    align-items: baseline;
    /* justify-content: stretch; */
    margin-bottom: 5px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
    width: 100%;
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.logo img {
    padding: 30px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
